* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(
      transparent 3px,
      #000000 3px,
      #000000 78px,
      transparent 78px
    ),
    linear-gradient(-90deg, rgba(73, 73, 73, 0.5) 1px, transparent 1px),
    linear-gradient(
      -90deg,
      transparent 3px,
      #000000 3px,
      #000000 78px,
      transparent 78px
    ),
    linear-gradient(rgb(73, 73, 73, 0.5) 1px, transparent 1px), #000;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px,
    80px 80px, 80px 80px;
}

* ::selection {
  background-color: #8f43ee;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(122, 122, 122);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 204, 204);
}
